.input-container{
    display: flex;
    max-width: 50vw;
    justify-content:space-around;
    margin-bottom: 10px;
}

ul{
    list-style-type: none;
}

li{
    display: flex;
    gap: 10px;
    border: 1px solid blanchedalmond;
    max-width: fit-content;
    padding: 1rem;
}

#buttons-container {
    display: flex;
    gap: 10px;
}